<nav class="bg-gray-800 text-white fixed bottom-0 w-full flex justify-around p-2 z-10">
    <button class="flex flex-col items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l18-9v18L3 12z" />
      </svg>
      <span class="text-xs">Home</span>
    </button>
    <button class="flex flex-col items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h10M7 16h10M5 8h.01M5 12h.01M5 16h.01" />
      </svg>
      <span class="text-xs">Courses</span>
    </button>
    <button class="flex flex-col items-center relative">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.5v15m7.5-7.5h-15" />
      </svg>
      <span class="text-xs">New</span>
      <span class="absolute top-0 right-0 inline-block w-2 h-2 bg-red-600 rounded-full"></span>
    </button>
    <button class="flex flex-col items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M12 5l7 7-7 7" />
      </svg>
      <span class="text-xs">Progress</span>
    </button>
    <button class="flex flex-col items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h18v18H3V3z" />
      </svg>
      <span class="text-xs">Profile</span>
    </button>
  </nav>
  